<%- include('partials/header') %>

<main>
    <h1><%= title %></h1>
    
    <h2><%= category.name %></h2>
    <p>
        <% if (user && user.role_name === 'admin') { %>
            <a href="/edit-category/<%= category.category_id %>">Edit Category</a>
        <% } %>
    </p>

    <h3>Service Projects</h3>

    <ul>
        <% projects.forEach(project => { %>
            <li>
                <a href="/project/<%= project.project_id %>">
                    <%= project.title %>
                </a>
            </li>
        <% }); %>
    </ul>

    <p>
        <a href="/categories">Back to Categories</a>
    </p>
</main>

<%- include('partials/footer') %>