<%- include('partials/header') %>

<main>
    <h1><%= title %></h1>
    <% if (user && user.role_name === 'admin') { %>
    <a href="/edit-category/<%= category.category_id %>">Edit Category</a>
    <% } %>
    <form action="/edit-category/<%= category.category_id %>" method="POST">

        <div class="form-group">
            <label for="name">Category Name</label>
            <input
                type="text"
                id="name"
                name="name"
                value="<%= category.name %>"
                maxlength="100"
                required
            />
        </div>

        <button type="submit">Update Category</button>
    </form>

    <p>
        <a href="/categories">Back to Categories</a>
    </p>
</main>

<%- include('partials/footer') %>